<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1>Problem name: {{ problem_name }}</h1>
<table>
    <tr>
        <th>problem name</th>
        <th>problem url</th>
        <th>problem description</th>
        <th>default input data</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href={{item.local_url}}> {{item.problem_name}}</a></td>
        <td>{{item.problem_url}}</td>
        <td>{{item.problem_description}}</td>
        <td>{{item.default_input_data}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>